<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>website learn vocbulary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <meta content="Coderthemes" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- App favicon -->
  <link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" type="text/css">

  <!--Material Icon -->
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/materialdesignicons.min.css}" />

  <!--pe-7 Icon -->
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/pe-icon-7-stroke.css}" />

  <!-- Magnific-popup -->
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/magnific-popup.css}">

  <!-- Custom  sCss -->
  <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />

</head>

<body>

<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
  <div class="container-fluid">
    <!-- LOGO -->
    <a class="logo text-uppercase" th:href="@{/resources/index.html}">
      <img src="images/logo-light.png" alt="" class="logo-light" height="18" />
      <img src="images/logo-dark.png" alt="" class="logo-dark" height="18" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="mdi mdi-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
        <li class="nav-item">
          <a href="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar End -->

<!-- home start -->
<section class="bg-home bg-gradient" id="home">
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6 col-sm-6">
            <div class="home-title text-white">
              <h5 class="mb-3 text-white-50">Discover Adminto Today</h5>
              <h2 class="mb-4">Make your Site Amazing & Unique with Adminto</h2>
              <p class="text-white-50 home-desc font-16 mb-5">Adminto is a fully featured premium Landing template built on top of awesome Bootstrap 4.3.1, modern web technology HTML5, CSS3 and jQuery. </p>
              <div class="watch-video mt-5">
                <a href="#" class="btn btn-custom mr-4">Get Started <i class="mdi mdi-chevron-right ml-1"></i></a>
                <a href="http://vimeo.com/99025203" class="video-play-icon text-white"><i class="mdi mdi-play play-icon-circle mr-2"></i> <span>Watch The Video</span></a>
              </div>

            </div>
          </div>
          <div class="col-lg-5 offset-lg-1 col-sm-6">
            <div class="home-img mo-mt-20">
              <img src="images/home-img.png" alt="" class="img-fluid mx-auto d-block">
            </div>
          </div>
        </div>
        <!-- end row -->

      </div>
      <!-- end container-fluid -->
    </div>
  </div>
</section>
<!-- home end -->

<!-- contact start -->
<section class="section" id="contact">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title text-center mb-5">
          <h6 class="text-primary small-title">Contact</h6>
          <h4>Have any Questions ?</h4>
          <p class="text-muted">At solmen va esser far uniform grammatica.</p>
        </div>
      </div>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-lg-4">
        <div class="get-in-touch">
          <h5>Get in touch</h5>
          <p class="text-muted mb-5">At solmen va esser necessi far</p>

          <div class="mb-3">
            <div class="get-touch-icon float-left mr-3">
              <i class="pe-7s-mail h2 text-primary"></i>
            </div>
            <div class="overflow-hidden">
              <h5 class="font-16 mb-0">E-mail</h5>
              <p class="text-muted">example@abc.com</p>
            </div>
          </div>
          <div class="mb-3">
            <div class="get-touch-icon float-left mr-3">
              <i class="pe-7s-phone h2 text-primary"></i>
            </div>
            <div class="overflow-hidden">
              <h5 class="font-16 mb-0">Phone</h5>
              <p class="text-muted">012-345-6789</p>
            </div>
          </div>
          <div class="mb-2">
            <div class="get-touch-icon float-left mr-3">
              <i class="pe-7s-map-marker h2 text-primary"></i>
            </div>
            <div class="overflow-hidden">
              <h5 class="font-16 mb-0">Address</h5>
              <p class="text-muted">20 Rollins Road Cotesfield, NE 68829</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="custom-form bg-white">
          <div id="message"></div>
          <form method="post" action="php/contact.php" name="contact-form" id="contact-form">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input name="name" id="name" type="text" class="form-control" placeholder="Enter your name...">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input name="email" id="email" type="email" class="form-control" placeholder="Enter your email...">
                </div>
              </div>
            </div>
            <!-- end row -->

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="subject">Subject</label>
                  <input name="subject" id="subject" type="text" class="form-control" placeholder="Enter Subject...">
                </div>
              </div>
            </div>
            <!-- end row -->

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="comments">Message</label>
                  <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Enter your message..."></textarea>
                </div>
              </div>
            </div>
            <!-- end row -->

            <div class="row">
              <div class="col-lg-12 text-right">
                <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom" value="Send Message">
                <div id="simple-msg"></div>
              </div>
            </div>
            <!-- end row -->
          </form>
        </div>
        <!-- end custom-form -->

      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container-fluid -->
</section>
<!-- contact end -->

<!-- footer start -->
<footer class="footer bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="text-center">
          <div class="footer-logo mb-3">
            <img src="images/logo-light.png" alt="" height="20">
          </div>
          <ul class="list-inline footer-list text-center mt-5">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">Clients</a></li>
            <li class="list-inline-item"><a href="#">Pricing</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
          </ul>
          <ul class="list-inline social-links mb-4 mt-5">
            <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="mdi mdi-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="mdi mdi-google-plus"></i></a></li>
          </ul>
          <p class="text-white-50 mb-4">2016 - 2020 © Adminto. Design by <a href="#" target="_blank" class="text-white-50">Coderthemes</a> </p>

        </div>
      </div>

    </div>

  </div>
</footer>
<!-- footer end -->

<!-- Back to top -->
<a href="#" class="back-to-top" id="back-to-top"> <i class="mdi mdi-chevron-up"> </i> </a>


<!-- javascript -->
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/resources/js/jquery.easing.min.js}"></script>
<script th:src="@{/resources/js/scrollspy.min.js}"></script>

<!-- Magnific Popup -->
<script th:src="@{/resources/js/jquery.magnific-popup.min.js}"></script>

<!-- counter js -->
<script th:src="@{/resources/js/counter.int.js}"></script>

<!-- custom js -->
<script th:src="@{/resources/js/app.js}"></script>
</body>

</html>