<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="navbar-custom">
    <!-- Main Sidebar Container -->
    <div class="navbar-custom">
        <ul class="list-unstyled topnav-menu float-right mb-0">

            <li class="d-none d-sm-block">
                <form class="app-search">
                    <div class="app-search-box">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <button class="btn" type="submit">
                                    <i class="fe-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#"
                   role="button" aria-haspopup="false" aria-expanded="false">
                    <img th:src="@{resources/images/users/user-1.jpg}" alt="user-image" class="rounded-circle">
                    <span class="pro-user-name ml-1" th:if="${user}!= null" th:text="${user.fullName}">
                        <i class="mdi mdi-chevron-down"></i>
                            </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                    <!-- item-->
                    <a href="/profile" class="dropdown-item notify-item">
                        <i class="fe-user"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-lock"></i>
                        <span>Lock Screen</span>
                    </a>

                    <div class="dropdown-divider"></div>

                    <!-- item-->
                    <a href="/logout" class="dropdown-item notify-item">
                        <i class="fe-log-out" ></i>
                        <span  [[${#request.remoteUser}]]>Logout</span>
                    </a>

                </div>
            </li>

            <li class="dropdown notification-list">
                <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect">
                    <i class="fe-settings noti-icon"></i>
                </a>
            </li>


        </ul>

        <!-- LOGO -->
        <div class="logo-box">
            <a href="/home" class="logo logo-dark text-center">
                        <span class="logo-lg">
                            <img th:src="@{resources/images/logo-dark.png}" alt="" height="16">
                        </span>
                <span class="logo-sm">
                            <img th:src="@{resources/images/logo-sm.png}" alt="" height="24">
                        </span>
            </a>
            <a href="/home" class="logo logo-light text-center">
                        <span class="logo-lg">
                            <img th:src="@{resources/images/logo-light.png}" alt="" height="16">
                        </span>
                <span class="logo-sm">
                            <img th:src="@{resources/images/logo-sm.png}" alt="" height="24">
                        </span>
            </a>
        </div>

        <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
            <li>
                <button class="button-menu-mobile disable-btn waves-effect">
                    <i class="fe-menu"></i>
                </button>
            </li>


        </ul>

    </div>
</div>
</body>

</html>
