<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="topbar-menu">
    <div class="topbar-menu">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li class="has-submenu">
                        <a href="#"> <i class="mdi mdi-chart-donut-variant"></i>Library <div class="arrow-down"></div></a>
                        <ul class="submenu">
                            <li>
                                <a href="charts-flot.html">Directory</a>
                            </li>
                            <li>
                                <a href="charts-morris.html">Add Subject</a>
                            </li>
                            <li>
                                <a href="charts-chartist.html">Favorite Subject</a>
                            </li>
                            <li>
                                <a href="charts-chartjs.html">Recent activity</a>
                            </li>
                            <li>
                                <a href="charts-other.html">Editor</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="apps-chat.html">Explore</a>
                    </li>

                    <li class="has-submenu">
                        <a href="#"> <i class="mdi mdi-card-bulleted-settings-outline"></i>Layouts <div class="arrow-down"></div></a>
                        <ul class="submenu">


                            <li><a href="layouts-horizontal.html">Horizontal</a></li>
                            <li><a href="layouts-sidebar-sm.html">Small Sidebar</a></li>
                            <li><a href="layouts-dark-sidebar.html">Dark Sidebar</a></li>
                            <li><a href="layouts-dark-topbar.html">Dark Topbar</a></li>
                            <li><a href="layouts-preloader.html">Preloader</a></li>
                            <li><a href="layouts-sidebar-collapsed.html">Sidebar Collapsed</a></li>
                            <li><a href="layouts-boxed.html">Boxed</a></li>
                        </ul>
                    </li>

                </ul>
                <!-- End navigation menu -->

                <div class="clearfix"></div>
            </div>
            <!-- end #navigation -->
        </div>
        <!-- end container -->
    </div>
</div>

</html>
